h1 {
  color: red;
}

.notification-message {
  width: 50vw;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em 0;
  background-color: lightgrey;
}

.success {
  color: green;
  border: 4px solid green;
}

.error {
  color: red;
  border: 4px solid red;
}
